<style>
	.device.weather .climacon { 
		fill: #fff;
		height: 150%;
		vertical-align:top;
		margin-top:-5%;
	}
	.device.weather .today_title { font-size:0.3em; margin:5px; top:0; line-height:100%; }
  .device.weather .current { width:100%; height:1em; text-align:center; }
  .device.weather .today { width:100%; font-size:0.35em; line-height:1.75em; margin-top:0.5em; }
	.device.weather .forecast {
		float:left;
		width:50%;
		height:1em;
		line-height:100%;
		margin-top:0.5em;
		font-size:0.4em;
		text-align:center;
	}
	.device.weather .forecast .temp {
		font-size:0.75em;
	}
</style>

<li data-w="{{w}}" data-h="{{h}}" data-x="{{x}}" data-y="{{y}}" class="status z-depth-3" id="device-{{id}}">
	<div class="device weather">
		<div class="today_title">Today</div>
		<div class="current">
			<img src="./sun.svg" /><span style="font-size:0.75em;" id="current_temp">75</span> <sup style="font-size:0.4em;">&deg;F</sup>
		</div>
		<div class="today"><span id="today_high">85</span>&deg;/<span id="today_low">65</span>&deg;&nbsp;&nbsp;&nbsp;<i class="fa fa-umbrella" aria-hidden="true"></i><span id="today_precip">10%</span></div>
		
		<hr style="width:90%;margin: 0 auto;border:1px solid #666;"/>

		<div class="forecast">
			<div style="font-size:0.6em;">Tomorrow</div>
			<img src="./cloudRain.svg" /><span class="temp">85&deg;/65&deg;</span>
			<div style="font-size:0.75em;"><i class="fa fa-umbrella" aria-hidden="true"></i>10%</div>
		</div>
		<div class="forecast">
			<div style="font-size:0.6em;">Next Day</div>
			<img src="./cloudSnow.svg" /><span class="temp">85&deg;/65&deg;</span>
			<div style="font-size:0.75em;"><i class="fa fa-umbrella" aria-hidden="true"></i>10%</div>
		</div>

	</div>
</li>
