<!DOCTYPE html>
  <html>
  <head>
    <link type="text/css" rel="stylesheet" href="/modules/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/modules/material-design-icons/material-design-icons.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/modules/font-awesome/css/font-awesome.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/main.css"  media="screen,projection"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <script type="text/javascript" src="/modules/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/modules/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/modules/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/modules/grid-list/gridList.js"></script>
    <script type="text/javascript" src="/modules/grid-list/jquery.gridList.js"></script>
    <script type="text/javascript" src="/modules/jquery-taphold/taphold.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">HOME</a>
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
      <ul id="slide-out" class="side-nav">
        <li>
          <div class="userView">
            <div class="background"><img src="/images/family.jpg"></div>
            <div style="height: 150px">&nbsp;</div>
            <span class="white-text name">Rubis Family</span>
            <div style="height: 50px">&nbsp;</div>
        </li>
        <li><a class="subheader">First Floor</a></li>
        <li><a class="waves-effect" href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Basement</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
      </ul>
    </div>
  </nav>

  <main class="grid-container">
    
    <ul id="grid" class="grid">
      
    </ul>
     
  </main>

  <div id="settings" class="modal">
    <div class="modal-content">
      <h4>Settings</h4>

			<form>
			</form>

    </div>
    <div class="modal-footer">
		  <a href="#!" class="modal-cancel waves-effect waves-red btn-flat ">Cancel</a>
    	<a href="#!" class="modal-save waves-effect waves-green btn">Save</a>
    </div>
  </div>

</body>
</html>