<li data-w="1" data-h="1" data-x="{{x}}" data-y="{{y}}" class="status z-depth-3" data-status="{{status}}" id="device-{{id}}">
	<div class="device waves-effect waves-light">
		<div class="name">{{name}}</div>
		<div class="icon"><span><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
		</div>
	</div>

	<script>
		(function () {
			var current_data = {};

			update_functions['update_{{id}}'] = function (data) {
				current_data = data;
				$('#device-{{id}} .name').text(data.name + (!!data.room ? ' in ' + data.room : ''));

				if (!!data.status) {
					current_data = data;
				}
				$('#device-{{id}} .name').text(data.name);
			}
			$('#device-{{id}}').on('click', function () {
				api.perform('{{id}}', 'toggle');
			});

			$('#device-{{id}}').on('taphold', function () {
				open_edit_form('{{id}}', {
					'name': { 'name': 'Name', 'value': current_data.name || '' },
					'nickname': { 'name': 'Nickname', 'value': current_data.nickname || '' }
				});
			});
		})();
	</script>
</li>