<li data-w="{{w}}" data-h="{{h}}" data-x="{{x}}" data-y="{{y}}" class="status {{status}} z-depth-3 clickable" id="device-{{id}}">
	<div class="device">
		<div class="name">{{name}}</div>
		<div class="icon"><span><i class="fa fa-check-square-o" aria-hidden="true"></span></i>
		</div>
	</div>

  <script>
		(function() {
			var current_class = '{{status}}';
			update_functions['update_{{id}}'] = function(status, info) {
				if(!!status) {
					$('#device-{{id}}').removeClass(current_class).addClass(status);
					current_class = status;
				}
			}
			$('#device-{{id}}').on('click', function() {
				api.perform('{{id}}', 'toggle');
			});
		})();
  </script>
</li>
