* {
  margin: 0;
  padding: 0;
}

:root {
  --green: #2ECC40;
  --red: #FF4136;
}

html,
body {
  background-color: #333;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

nav {
  background-color: #01579b;
}

.grid-container {
  height: 100%;
  background: #111;
  overflow: scroll;
}

.grid {
  position: relative;
  list-style: none;
  -webkit-transition: width 0.2s,
    height 0.2s;
  transition: width 0.2s,
    height 0.2s;
}

.grid li {
  position: absolute;
  text-align: center;
  line-height: 100%;
}

/*.grid li[data-status="waiting"] .device:before {
      z-index: 10;
      font-family: FontAwesome;
      content: "\f021";
      position: absolute;
      left:0;right: 0;top:0;bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: fa-spin 2s infinite linear;
      font-size: 1em;
    }*/
/*.grid li[data-status="unknown"] .device:before {
  z-index: 10;
  font-family: FontAwesome;
  content: "\f128";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}*/

.grid li .device {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background-color: #444;
  margin: 1px;
}

.grid li.unknown .device {
  background-color: #444;
}

.grid li .device .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal normal normal 14px/1 "Material Design Icons";
  font-size: inherit;
}

/* Waiting */
.grid li[data-status="waiting"] .device .icon::before {
  animation: mdi-spin 2s infinite linear;
  content: "\F006A";
}

/* Light */
.grid li[data-status="on"] .device.device-light .icon::before {
  content: "\F06E8";
  color: var(--green, darkgreen);
}

.grid li[data-status="off"] .device.device-light .icon::before {
  content: "\F06E9";
}

/* Garage */
.grid li[data-status="closed"] .device-garage .icon::before {
  content: "\F12D3";
  color: var(--red, darkred);
}

.grid li[data-status="open"] .device-garage .icon::before {
  content: "\F12D4";
  color: var(--green, darkgreen);
}

.device .name {
  margin: 5px;
  position: absolute;
  width: 100%;
  top: 0;
  font-weight: normal;
  font-size: 0.2em;
  text-align: left;
  line-height: 100%;
  color: #fff;
}

.status[data-status="on"] .device {
  color: var(--green);
}

.status[data-status="tick"] .device {
  color: #5B85C8;
}

.status[data-status="tock"] .device {
  color: #C8675B;
}

.modal {
  line-height: 100%;
  font-size: 1rem;
  text-align: left;
}

.modal .actions {
  text-align: right;
}

.modal .actions .btn {
  margin: 3px 0;
}

.climacon * {
  transform-box: fill-box;
}