* {
    margin: 0; padding: 0;
}
html, body {
    background-color: #333;
    height:100%;
    overflow: hidden;
    user-select: none;
}
nav {
    background-color: #01579b;
}
.grid-container {
  height:100%;
  background:#111;
}
.grid {
  position: relative;
  list-style: none;
  -webkit-transition: width 0.2s,
                      height 0.2s;
          transition: width 0.2s,
                      height 0.2s;
}
  .grid li {
    position: absolute;
    z-index: 1;
    text-align: center;
    line-height: 100%;
  }
  .grid li.clickable {
    cursor: pointer;
  }
  li .device {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      color:#fff;
      background-color: #444;
      margin: 1px;
  }
  .device .icon {
    position:absolute;
    width: 100%;
    height: 100%;
    display: table;
  }
    .device .icon span {
      display: table-cell;
      vertical-align: middle;
    }
  .device .name {
    margin: 5px;
    position:absolute;
    width:100%;
    top:0;
    font-weight: normal;
    font-size: 0.2em;
    text-align: left;
    line-height: 100%;
    color: #fff;
  }

.status.on .device {
    color: #2ECC40;
}
.status.off .device {
    /*color: #FF4136;*/
}
.status.tick .device {
    color: #5B85C8;
}
.status.tock .device {
    color: #C8675B;
}











/*.col.device {
    border: 1px solid #eee;
    margin: 0;
    text-align: center;
    font-size: 4vw;
    background-color: #cccccc;
    color: white;
    height:8.33vw;
}

.col.device.on {
    background-color: #2ECC40;
}
.col.device.off {
    background-color: #FF4136;
}*/
/*
@media only screen and (max-width: 992px) {
    .col.device {
        height:16.67vw;
        font-size:8vw;
    }
}

@media only screen and (max-width: 600px) {
    .col.device {
        height:25vw;
        font-size:12vw;
    }
}

.col.h2 {
    height: 16.65vw;
}
 

*/