* {
    margin: 0; padding: 0;
}
html, body {
    background-color: #333;
    height:100%;
    overflow: hidden;
}
nav {
    background-color: #001f3f;
}
.grid-container {
    height:100%;
  background:#111;
}
.grid {
  position: relative;
  list-style: none;
  /* Will be modified by the grid jquery lib, depending on the items */
  -webkit-transition: width 0.2s,
                      height 0.2s;
          transition: width 0.2s,
                      height 0.2s;
}
  .grid li {
    position: absolute;
    z-index: 1;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  .grid li .device {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      color:#fff;
      background-color: #333;
      margin: 1px;
  }
  .device .icon {
      position:absolute;
      top:0;
      line-height: 4em;
      width:100%;
  }
  .device .name {
      position:absolute;
      width:100%;
      bottom:0;
  }

.status.on .device {
    background-color: #2ECC40;
}
.status.off .device {
    background-color: #FF4136;
}











/*.col.device {
    border: 1px solid #eee;
    margin: 0;
    text-align: center;
    font-size: 4vw;
    background-color: #cccccc;
    color: white;
    height:8.33vw;
}

.col.device.on {
    background-color: #2ECC40;
}
.col.device.off {
    background-color: #FF4136;
}*/
/*
@media only screen and (max-width: 992px) {
    .col.device {
        height:16.67vw;
        font-size:8vw;
    }
}

@media only screen and (max-width: 600px) {
    .col.device {
        height:25vw;
        font-size:12vw;
    }
}

.col.h2 {
    height: 16.65vw;
}
 

*/